# PORT
PORT = 3000

# DATABASE
DB_HOST = localhost
DB_PORT = 27017
DB_USER = archive
DB_PASSWORD = admin
DB_DATABASE = archive

# TOKEN
SECRET_KEY = secretKey

# LOG
LOG_FORMAT = dev
LOG_DIR = ../logs

# CORS
ORIGIN = 
CREDENTIALS = 
COOKIE_DOMAIN = 
FRONT_REDIRECT_URL = 

# DISCORD
BOT_TOKEN = 
CLIENT_ID = 
CLIENT_SECRET = 
REDIRECT_URL = 

# MESSAGE https://hiplay.solapi.com/
MESSAGE_API_KEY = 
MESSAGE_API_SECRET_KEY =
MESSAGE_API_FROM = 
MESSAGE_API_PFID = 

# PAYMENTS
# BarndPay
PAYMENTS_TOSS_SECRET_KEY =
# Payments
PAYMENTS_TOSSPAYMENTS_SECRET_KEY=
# KakaoPay
PAYMENTS_KAKAOPAY_SECRET_KEY=

# CAPTHCA
CAPTHCA_SECRET_KEY=

# MAIL
GOOGLE_MAIL_CLIENT_ID=
GOOGLE_MAIL_SECRET_KEY=
GOOGLE_MAIL_REDIRECT_URL=
GOOGLE_MAIL_REFRESH_TOKEN=
GOOGLE_MAIL_EMAIL=